<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960783729432-oi7vjohmsjmmchok1410771rakkpkh6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960783729432-oi7vjohmsjmmchok1410771rakkpkh6m</string>
	<key>API_KEY</key>
	<string>AIzaSyD_YOZWJkoezJ5lYJUnhg0xrACJRe6neFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>960783729432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solito.next-conf</string>
	<key>PROJECT_ID</key>
	<string>solito-example</string>
	<key>STORAGE_BUCKET</key>
	<string>solito-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960783729432:ios:65ff683ec3df1446b3146d</string>
</dict>
</plist>